.payments-container {
  max-width: 95%;
  margin: auto;
  padding: 20px;
}

.payments-container h3 {
  color: white; /* Set the color of the h3 element to white */
}

h3 {
  color: #333;
}

.payments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.payments-table th,
.payments-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.payments-table th {
  text-align: center;
  background-color: #db7d76; /* Light golden/yellow */
  color: #353030; /* Dark blue */
}

/* Remove alternating row colors */
.payments-table tr {
  background-color: #fff; /* Set all rows to white */
}

/* Optional: Remove hover effect if needed */
.payments-table tr:hover {
  background-color: #fff; /* Keep hover background white */
}

.payments-summary {
  background-color: #efb9b5;
  margin-top: 20px;
  font-weight: bold;
}
